<form action="/new" method="POST">
  <input type="text" name="open"></input>
  <input type="text" name="close"></input>
  <button type="submit" value="Display" formaction="/display">Display</button>
  <button type="submit" formaction="/new">Submit</button> 
</form>

{% for item in items %}
  <h1> {{ item.open }} </h1>
  <p> {{ item.close }} <p>
{% endfor %}
